<div class="row my-5">
  <div class="col-12">
    <div class="container">
      <div id="projects">
        <h2> Featured Projects</h2>
        <div class="cards mb-4">

            <div class="card-product">
              <div class="card-background"></div>
              <div class="floating">
                <%= image_tag 'projects/care-key-main.png', alt: "project image", style: "width: 400px;", class: "card-product-img" %>
              </div>
              <div class="card-button-info" id="extra-margin">
              <div class="card-product-infos w-100">
                <div class="text-box">
                  <h2 style="color: #0cc0df">Care Key</h2>
                </div>
                  <p>Gamified routine tracker to level up your self-care through motivational gameplay and fun interactivity!</p>
                  <p style="color: #0cc0df">Role: UX/UI Designer, Frontend, Product Manager, Artist</p>
                <div class="tech-stack mt-2">
                  <i class="devicon-rails-plain colored" style="padding: 3px;"></i>
                  <i class="devicon-html5-plain colored" style="padding: 3px;"></i>
                  <i class="devicon-css3-plain colored" style="padding: 3px;"></i>
                  <i class="devicon-heroku-plain colored" style="padding: 3px;"></i>
                  <i class="devicon-javascript-plain colored" style="padding: 3px;"></i>
                  <i class="devicon-bootstrap-plain colored" style="padding: 3px;"></i>
                  <i class="devicon-figma-plain colored" style="padding: 3px;"></i>
                </div>
                </div>
                   <div class="d-flex flex-direction-row">
                  <button class="button-blue" onclick="window.carousel1.showModal();">Quick Look</button>
                  <dialog id="carousel1">
                    <h2>Care Key</h2>
                    <p> The key to leveling up self-care</p>
                    <%= image_tag 'projects/care-key-modal.png', class:"modal-img", alt: "project image"%>
                  <button onclick="window.carousel1.close();" aria-label="close" class="x">❌</button>
                  </dialog>
                 </div>
              </div>
            </div>


             <div class="card-product-left">
              <div class="card-background-left"></div>
              <div class="floating">
                <%= image_tag 'projects/weeb-watch-plchlder.png', alt: "project image", style: "width: 490px;", class: "card-product-img-left" %>
              </div>
              <div class="card-button-info-left">
              <div class="card-product-infos">
                <div class="text-box">
                  <h2 style="color: #0cc0df">Weeb Watch</h2>
                </div>
                  <p>One-stop shop to keep all of your favorite animes organized. Track latest updates, share with friends or discover more anime to watch!</p>
                  <p style="color: #0cc0df">Role: Backend, Frontend, Designer</p>
                  <div class="tech-stack mt-2">
                    <i class="devicon-rails-plain colored" style="padding: 3px;"></i>
                    <i class="devicon-html5-plain colored" style="padding: 3px;"></i>
                    <i class="devicon-css3-plain colored" style="padding: 3px;"></i>
                    <i class="devicon-javascript-plain colored" style="padding: 3px;"></i>
                    <i class="devicon-bootstrap-plain colored" style="padding: 3px;"></i>
                  </div>
                </div>
                 <div class="d-flex flex-direction-row">
                   <button class="button-blue" onclick="window.carousel2.showModal();">Quick Look</button>
                  <dialog id="carousel2">
                    <h2>Weeb Watch</h2>
                    <p> Organized for the greatest otakus</p>
                    <%= image_tag 'projects/weeb-watcher-placeholder.png', class:"modal-img", alt: "project image"%>
                  <button onclick="window.carousel2.close();" aria-label="close" class="x">❌</button>
                  </dialog>
                 </div>
              </div>
            </div>

             <div class="card-product">
              <div class="card-background"></div>
              <div class="floating">
                <%= image_tag 'projects/paw-time-pc.png', alt: "project image", style: "width: 490px;", class: "card-product-img" %>
              </div>
              <div class="card-button-info" id="less-margin">
              <div class="card-product-infos w-100">
                <div class="text-box">
                  <h2 style="color: #0cc0df">Paw Time</h2>
                </div>
                  <p>Web application to reserve a visit at an animal shelter near you and/or track visitors to your animal shelter.</p>
                  <p style="color: #0cc0df">Role: UX/UI Designer, Frontend, Product Manager</p>
                  <div class="tech-stack mt-2">
                    <i class="devicon-rails-plain colored" style="padding: 3px;"></i>
                    <i class="devicon-html5-plain colored" style="padding: 3px;"></i>
                    <i class="devicon-css3-plain colored" style="padding: 3px;"></i>
                    <i class="devicon-heroku-plain colored" style="padding: 3px;"></i>
                    <i class="devicon-javascript-plain colored" style="padding: 3px;"></i>
                    <i class="devicon-bootstrap-plain colored" style="padding: 3px;"></i>
                    <i class="devicon-figma-plain colored" style="padding: 3px;"></i>
                  </div>
                </div>
                  <div class="d-flex flex-direction-row">
                     <button class="button-blue" onclick="window.carousel3.showModal();">Quick Look</button>
                  <dialog id="carousel3">
                    <h2>Paw Time</h2>
                    <p> Book a reservation with a furry friend</p>
                    <%= image_tag 'projects/paw-time-modal.png', class:"modal-img", alt: "project image"%>
                  <button onclick="window.carousel3.close();" aria-label="close" class="x">❌</button>
                  </dialog>
                  </div>
              </div>
            </div>
        </div>
      </div>
      <h2 class="mb-5">Other Projects</h2>
      <div class="other-cards">
          <% data.projects.each do |project| %>
            <div class="other-card-product">
              <%= image_tag project.image, alt: "project image" %>
              <div class="other-card-product-infos w-100">
                <div class="d-flex justify-content-between align-items-center">
                  <h2><%= project.name %></h2>
                  <div class="other-card-links">
                    <% link_to project.github, class: 'external-link', target: '_blank' do %>
                      <i class="fa-brands fa-github"></i>
                    <% end %>
                    <% if project.online?  %>
                      <% link_to project.url, class: 'external-link', target: '_blank' do %>
                        <i class="fas fa-external-link-alt"></i>
                      <% end %>
                    <% end %>
                  </div>
                </div>
                <p><%= project.description %></p>
              </div>
            </div>
          <% end %>
        </div>
    </div>
  </div>
</div>
