  <!-- Banner Section -->
  <%= partial 'partials/banner' %>
  <%= partial 'partials/about' %>
  <!-- About Section -->
<div class="container">
  <div class="body-container">
  <!-- Projects Section -->
  <%= partial 'partials/projects' %>
  <%= partial 'partials/interests' %>
  <!-- Social Links Section -->
  <%= partial 'partials/social' %>
</div>
